@{
    ViewData["Title"] = "Asignaturas";
}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

   

</head>
<style>
    .collapse.in {
        display: block !important;
    }
</style>


<body id="page-top">



    <!-- Button trigger modal -->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>




    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Begin Page Content -->
            <div class="container-fluid" style="width: 80%;">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Asignaturas</h1>
                <p class="mb-4">En esta pestaña se mostrarán y se realizará la gestión, de las asignaturas que ha cursado el usuario tanto en la universidad como en el primer año de carrera</p>

                <div id="Pop_up" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
                    <div class="modal-dialog modal-lg">
                        <!-- Modal content-->

                    
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title"></h4>
                            </div>
                            <div class="modal-body">
                                    <input type="text" for="inputName" name="hidenDropListaAsignatura" id="hidenDropListaAsignatura" style="display: none" />
                                    <label id="mensajeBorrar">Estas seguro de borrar la asignatura</label>
                                    <div id="contenidoAsignatura">
                                <table class="col-xs-12">
                                    <tr>
                                        <td>
                                            <label class="col-xs-4">Asignatura: </label>
                                            <div class="dropdown">
                                                <button type="button" id="btn_DropListaAsignatura" onclick="myFunction('ListaAsignatura')" class="dropbtn btn btn-primary">Selección</button>
                                                <div id="myDropdownListaAsignatura" class="dropdown-content" style="display:none;">
                                                    <input type="text" placeholder="Buscar.." id="myInputListaAsignatura" onkeyup="filterFunction('ListaAsignatura')" />

                                                    <nav id="topNavListaAsignatura" class="dropdown-menu" style="display:inline-grid;">
                                                    </nav>

                                                </div>
                                            </div>
                                        </td>
                                   </tr>
                                   <tr>
                                        <td>
                                            <label class="col-xs-4" for="inputName">Nota: </label>
                                            <input type="text" id="nota_input"  name="nota_input"/>
                                        </td>
                                   </tr>
                                    <tr>
                                        <td>
                                                <label class="col-xs-4" for="inputName">T.Estudio: </label>
                                                <input type="text" id="tiempoEstudio_input" name="tiempoEstudio_input" />
                                        </td>
                                    </tr>
                                    
                                    </table>
                                </div>
                                <div id="apartadoInfo">
                                <table class="col-xs-12">                                   
                                      <tr>
                                        <td>
                                                <label class="col-xs-4" for="inputName">TR.Estudio: </label>
                                            <input type="text" id="tiempoRecEstudio_input" name="tiempoRecEstudio_input" disabled="disabled" />
                                        </td>
                                    </tr>
                                      <tr>
                                        <td>
                                                <label class="col-xs-4" for="inputName">Riesgo: </label>
                                            <input type="text" id="riesgo_input" name="riesgo_input" disabled="disabled" />
                                        </td>
                                    </tr>
                                    
                                

                                </table>
                                </div>
                                <br />
                                <br />
                                <br />
                            </div>
                            <br />
                            <br />
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">
                                    Volver
                                </button>
                                <button id="buttonCrear" class="btn btn-primary mt-3 mt-sm-0" onclick="getDatos('AddAsignaturaUsuario','');">Crear</button>
                                <button id="buttonActualizar" class="btn btn-primary mt-3 mt-sm-0" onclick="getDatos('UpdateAsignaturaUsuario','');">Actualizar</button>
                                <button id="buttonBorrar" class="btn btn-primary mt-3 mt-sm-0" onclick="getDatos('DeleteAsignaturaUsuario','');">Borrar</button>

                            </div>
                        </div>

                    </div>
                </div>
                <div id="hidden_content" style="display:none;">
                    
                </div>
                <!-- DataTables  -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <div class="text-center">
                            <button  class="btn btn-primary mt-3 mt-sm-0" onclick="ShowPopup('Add','');">Añadir Asignatura</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table table-striped" style="width: 100%;">
                            <table class="display" id="tb_asignaturas" style="width:100%">
                                <thead style="background-color:  #337ab7;">
                                    <tr>
                                        <th>UrlAsignatura</th>
                                        <th>Nombre</th>
                                        <th>Riesgo</th>
                                        <th>Nota</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th style="visibility: hidden">UrlAsignatura</th>
                                        <th style="visibility: hidden">Nombre</th>
                                        <th style="visibility: hidden">Riesgo</th>
                                        <th style="visibility: hidden">Nota</th>
                                        <th style="visibility: hidden">Acciones</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>

    






        <script>
         
             $(document).ready(function () {
                getDatos("ListaAsignaturaUsuario","");
             });
             
    
                 function getDatos(tipo,inputDato) {

                     var urlWs="";
                     var typeMeth="";
                     var datos="";
                if (tipo == "ListaAsignaturaUsuario") {
                    urlWs = `@Url.Action("GetDatosListaAsignaturaUsuario", "Home")`;
                    typeMeth="GET";
                     }else if(tipo=="ListaAsignatura"){
                    urlWs = `@Url.Action("GetDatosListaAsignatura", "Home")`;
                    typeMeth="GET";
                } else if (tipo == "AddAsignaturaUsuario") {
                    urlWs = `@Url.Action("AddAsignaturaUsuario", "Home")`;
                    typeMeth = "POST";

                    var idAsignatura = document.getElementById("hidenDropListaAsignatura").value;
                    var nota = document.getElementById("nota_input").value;
                    var tiempoEstudio = document.getElementById("tiempoEstudio_input").value;
                     var datos=idAsignatura+"€"+nota+"€"+tiempoEstudio;
                } else if (tipo == "Info" || tipo=="UpdateButton" ){
                    urlWs = `@Url.Action("InfoAsignaturaUsuario", "Home")`;
                    typeMeth = "GET";
                    document.getElementById("hidenDropListaAsignatura").value = inputDato.split("$")[1];
                    datos = inputDato.split("$")[0];
                }else if (tipo == "UpdateAsignaturaUsuario") {
                    urlWs = `@Url.Action("UpdateAsignaturaUsuario", "Home")`;
                    typeMeth = "PUT";
                    var idAsignatura = document.getElementById("hidenDropListaAsignatura").value;
                   var nota = document.getElementById("nota_input").value;
                   var tiempoEstudio = document.getElementById("tiempoEstudio_input").value;
                  var  tiempoRecomendado = document.getElementById("tiempoRecEstudio_input").value;
                   var riesgo = document.getElementById("riesgo_input").value;
                    var datos = idAsignatura+"€"+ nota + "€" + tiempoEstudio + "€" + tiempoRecomendado + "€" + riesgo;
                } else if (tipo == "DeleteAsignaturaUsuario") {
                    urlWs = `@Url.Action("DeleteAsignaturaUsuario", "Home")`;
                    typeMeth = "DELETE";
                    var idAsignatura = document.getElementById("hidenDropListaAsignatura").value
                    var datos = idAsignatura;
                }
                

                    $.ajax({
                        type: typeMeth,
                            url: urlWs,
                            contentType: "application/x-www-form-urlencoded",
                             data: {"datos":datos},
                              dataType: "json",
                             success: function (response) {
                            OnSuccessGetDatos(response, tipo)
                        },
                        failure: function (response) {
                            alert('falla');
                        },
                        error: function (response) {
                            alert(`'No se pueden cargar datos'`+tipo);
                        }
                    });
                 

        }

            function ShowPopup(tipo, inputDato) {
                               document.getElementById("nota_input").disabled = false;
                    document.getElementById("tiempoEstudio_input").disabled = false;
                document.getElementById("btn_DropListaAsignatura").disabled = false;               
                document.getElementById("apartadoInfo").style.display = "none";
                document.getElementById("buttonCrear").style.display = "none";
                document.getElementById("buttonActualizar").style.display = "none";
                document.getElementById("mensajeBorrar").style.display = "none";
                document.getElementById("buttonBorrar").style.display = "none";
                document.getElementById("contenidoAsignatura").style.display = "block";
               
                
                if (tipo == "Add") {
                    document.getElementById("buttonCrear").style.display = "block";
                    getDatos("ListaAsignatura","");
                  $("#Pop_up .modal-title").html("Añadir asignatura");
                $("#Pop_up").modal("show");
                   
             }else if(tipo=="Info"){
                 document.getElementById("apartadoInfo").style.display = "block";
                    getDatos("ListaAsignatura","");
                    document.getElementById("nota_input").disabled = true;
                    document.getElementById("tiempoEstudio_input").disabled = true; 
                    document.getElementById("btn_DropListaAsignatura").disabled = true;

                    $("#Pop_up .modal-title").html("Información asignatura");
                    $("#Pop_up").modal("show");
                } else if (tipo == "UpdateButton") {
                    document.getElementById("btn_DropListaAsignatura").disabled = true;
                    document.getElementById("buttonActualizar").style.display = "block";
                    getDatos("ListaAsignatura","");
                  $("#Pop_up .modal-title").html("Actualizar asignatura");
                $("#Pop_up").modal("show");
                   
             }
                else if (tipo == "DeleteButton") {
                    document.getElementById("mensajeBorrar").style.display = "block";
                    document.getElementById("buttonBorrar").style.display = "block";
                    document.getElementById("contenidoAsignatura").style.display = "none";
                    document.getElementById("hidenDropListaAsignatura").value = inputDato.split("asignaturas/")[1];
                    $("#Pop_up .modal-title").html("Borrar asignatura ");
                    $("#Pop_up").modal("show");

                }
               
         
         
         }
            function OnSuccessGetDatos(response,tipo) {

             
              
                if (tipo == "ListaAsignatura") {
                    var datosResponse = response;
                if ($(datosResponse).length > 0) {
                        var contenedor = document.getElementById("topNav" + tipo);
                        while (contenedor.firstChild) {
                            contenedor.firstChild.remove()
                        }
                    $(datosResponse).each(function () {
                            AddItem(this.nombre, this.uriAsignatura.split("asignaturas")[1].substring(1), "ListaAsignatura");

                        ////carga el text del drop recuperado
                        //if (document.getElementById("MainContent_hidenDropAgrup").value != "" &&
                        //    document.getElementById("MainContent_hidenDropAgrup").value == this.COD_AGRUP ) {
                        //    var boton = document.getElementById("MainContent_btn_Drop" + "Agrup");
                        //    boton.firstChild.data = this.AGRUPACION_EXT;
                        //}
                    });
                }
                } if (tipo == "Info" || tipo == "UpdateButton") {

                    document.getElementById("nota_input").value = response.nota;
                    document.getElementById("tiempoRecEstudio_input").value = response.tiempoRecomendado;
                    document.getElementById("tiempoEstudio_input").value = response.tiempoEstudio;
                    document.getElementById("riesgo_input").value=response.riesgo;
                    document.getElementById("btn_DropListaAsignatura").firstChild.data=document.getElementById("hidenDropListaAsignatura").value ;
                    document.getElementById("hidenDropListaAsignatura").value=response.urlAsignatura.split("asignaturas/")[1];
                     
                    if(tipo=="UpdateButton"){
                        ShowPopup("UpdateButton","")
                    }else{
                        ShowPopup("Info","");

                    }
                  
                }
                if (tipo == "UpdateAsignaturaUsuario") {

                         getDatos("ListaAsignaturaUsuario","");
                       $("#Pop_up").modal("toggle");  
             
                   
                }
                      if (tipo == "DeleteAsignaturaUsuario") {

                         getDatos("ListaAsignaturaUsuario","");
                       $("#Pop_up").modal("toggle");  
             
                   
                }
             if (tipo == "AddAsignaturaUsuario") {
              getDatos("ListaAsignaturaUsuario","");
               $("#Pop_up").modal("toggle");
                }
                if (tipo == "ListaAsignaturaUsuario") {
                    var table = $('#tb_asignaturas').DataTable();
                    table.clear().destroy();
                    //document.getElementById("cargaTabla_tablaBoost").style.display = "";
                    //document.getElementById("tablaBoost").style.display = "none";



                    // DataTable

                var table = $('#tb_asignaturas').DataTable({
                        liveSearch: false,
                        "language": {
                            "processing": "Procesando...",
                            "lengthMenu": "Mostrar _MENU_ registros",
                            "zeroRecords": "No se encontraron resultados",
                            "emptyTable": "Ningún dato disponible en esta tabla",
                            "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                            "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                            "search": "Buscar:",
                            "infoThousands": ",",
                            "loadingRecords": "Cargando...",
                            "paginate": {
                                "first": "Primero",
                                "last": "Último",
                                "next": "Siguiente",
                                "previous": "Anterior"
                            },
                            "aria": {
                                "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                                "sortDescending": ": Activar para ordenar la columna de manera descendente"
                            },
                            "buttons": {
                                "copy": "Copiar",
                                "colvis": "Visibilidad",
                                "collection": "Colección",
                                "colvisRestore": "Restaurar visibilidad",
                                "copyKeys": "Presione ctrl o u2318 + C para copiar los datos de la tabla al portapapeles del sistema. <br \/> <br \/> Para cancelar, haga clic en este mensaje o presione escape.",
                                "copySuccess": {
                                    "1": "Copiada 1 fila al portapapeles",
                                    "_": "Copiadas %ds fila al portapapeles"
                                },
                                "copyTitle": "Copiar al portapapeles",
                                "csv": "CSV",
                                "excel": "Excel",
                                "pageLength": {
                                    "-1": "Mostrar todas las filas",
                                    "_": "Mostrar %d filas"
                                },
                                "pdf": "PDF",
                                "print": "Imprimir",
                                "renameState": "Cambiar nombre",
                                "updateState": "Actualizar",
                                "createState": "Crear Estado",
                                "removeAllStates": "Remover Estados",
                                "removeState": "Remover",
                                "savedStates": "Estados Guardados",
                                "stateRestore": "Estado %d"
                            },
                            "autoFill": {
                                "cancel": "Cancelar",
                                "fill": "Rellene todas las celdas con <i>%d<\/i>",
                                "fillHorizontal": "Rellenar celdas horizontalmente",
                                "fillVertical": "Rellenar celdas verticalmentemente"
                            },
                            "decimal": ",",
                            "searchBuilder": {
                                "add": "Añadir filtro",
                                "button": "FILTRO",
                                "clearAll": "Borrar filtros",
                                "condition": "Condición",
                                "conditions": {
                                    "date": {
                                        "after": "Despues",
                                        "before": "Antes",
                                        "between": "Entre",
                                        "empty": "Vacío",
                                        "equals": "Igual a",
                                        "notBetween": "No entre",
                                        "notEmpty": "No Vacio",
                                        "not": "Diferente de"
                                    },
                                    "number": {
                                        "between": "Entre",
                                        "empty": "Vacio",
                                        "equals": "Igual a",
                                        "gt": "Mayor a",
                                        "gte": "Mayor o igual a",
                                        "lt": "Menor que",
                                        "lte": "Menor o igual que",
                                        "notBetween": "No entre",
                                        "notEmpty": "No vacío",
                                        "not": "Diferente de"
                                    },
                                    "string": {
                                        "contains": "Contiene",
                                        "empty": "Vacío",
                                        "endsWith": "Termina en",
                                        "equals": "Igual a",
                                        "notEmpty": "No Vacio",
                                        "startsWith": "Empieza con",
                                        "not": "Diferente de",
                                        "notContains": "No Contiene",
                                        "notStartsWith": "No empieza con",
                                        "notEndsWith": "No termina con"
                                    },
                                    "array": {
                                        "not": "Diferente de",
                                        "equals": "Igual",
                                        "empty": "Vacío",
                                        "contains": "Contiene",
                                        "notEmpty": "No Vacío",
                                        "without": "Sin"
                                    }
                                },
                                "data": "Columna",
                                "deleteTitle": "Eliminar regla de filtrado",
                                "leftTitle": "Criterios anulados",
                                "logicAnd": "Y",
                                "logicOr": "O",
                                "rightTitle": "Criterios de sangría",
                                "title": {
                                    "0": "Constructor de búsqueda",
                                    "_": "Constructor de búsqueda (%d)"
                                },
                                "value": "Valor"
                            },
                            "searchPanes": {
                                "clearMessage": "Borrar todo",
                                "collapse": {
                                    "0": "Paneles de búsqueda",
                                    "_": "Paneles de búsqueda (%d)"
                                },
                                "count": "{total}",
                                "countFiltered": "{shown} ({total})",
                                "emptyPanes": "Sin paneles de búsqueda",
                                "loadMessage": "Cargando paneles de búsqueda",
                                "title": "Filtros Activos - %d",
                                "showMessage": "Mostrar Todo",
                                "collapseMessage": "Colapsar Todo"
                            },
                            "select": {
                                "cells": {
                                    "1": "1 celda seleccionada",
                                    "_": "%d celdas seleccionadas"
                                },
                                "columns": {
                                    "1": "1 columna seleccionada",
                                    "_": "%d columnas seleccionadas"
                                },
                                "rows": {
                                    "1": "1 fila seleccionada",
                                    "_": "%d filas seleccionadas"
                                }
                            },
                            "thousands": ".",
                            "datetime": {
                                "previous": "Anterior",
                                "next": "Proximo",
                                "hours": "Horas",
                                "minutes": "Minutos",
                                "seconds": "Segundos",
                                "unknown": "-",
                                "amPm": [
                                    "AM",
                                    "PM"
                                ],
                                "months": {
                                    "0": "Enero",
                                    "1": "Febrero",
                                    "10": "Noviembre",
                                    "11": "Diciembre",
                                    "2": "Marzo",
                                    "3": "Abril",
                                    "4": "Mayo",
                                    "5": "Junio",
                                    "6": "Julio",
                                    "7": "Agosto",
                                    "8": "Septiembre",
                                    "9": "Octubre"
                                },
                                "weekdays": [
                                    "Dom",
                                    "Lun",
                                    "Mar",
                                    "Mie",
                                    "Jue",
                                    "Vie",
                                    "Sab"
                                ]
                            },
                            "editor": {
                                "close": "Cerrar",
                                "create": {
                                    "button": "Nuevo",
                                    "title": "Crear Nuevo Registro",
                                    "submit": "Crear"
                                },
                                "edit": {
                                    "button": "Editar",
                                    "title": "Editar Registro",
                                    "submit": "Actualizar"
                                },
                                "remove": {
                                    "button": "Eliminar",
                                    "title": "Eliminar Registro",
                                    "submit": "Eliminar",
                                    "confirm": {
                                        "_": "¿Está seguro que desea eliminar %d filas?",
                                        "1": "¿Está seguro que desea eliminar 1 fila?"
                                    }
                                },
                                "error": {
                                    "system": "Ha ocurrido un error en el sistema (<a target=\"\\\" rel=\"\\ nofollow\" href=\"\\\">Más información&lt;\\\/a&gt;).<\/a>"
                                },
                                "multi": {
                                    "title": "Múltiples Valores",
                                    "info": "Los elementos seleccionados contienen diferentes valores para este registro. Para editar y establecer todos los elementos de este registro con el mismo valor, hacer click o tap aquí, de lo contrario conservarán sus valores individuales.",
                                    "restore": "Deshacer Cambios",
                                    "noMulti": "Este registro puede ser editado individualmente, pero no como parte de un grupo."
                                }
                            },
                            "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
                            "stateRestore": {
                                "creationModal": {
                                    "button": "Crear",
                                    "name": "Nombre:",
                                    "order": "Clasificación",
                                    "paging": "Paginación",
                                    "search": "Busqueda",
                                    "select": "Seleccionar",
                                    "columns": {
                                        "search": "Búsqueda de Columna",
                                        "visible": "Visibilidad de Columna"
                                    },
                                    "title": "Crear Nuevo Estado",
                                    "toggleLabel": "Incluir:"
                                },
                                "emptyError": "El nombre no puede estar vacio",
                                "removeConfirm": "¿Seguro que quiere eliminar este %s?",
                                "removeError": "Error al eliminar el registro",
                                "removeJoiner": "y",
                                "removeSubmit": "Eliminar",
                                "renameButton": "Cambiar Nombre",
                                "renameLabel": "Nuevo nombre para %s",
                                "duplicateError": "Ya existe un Estado con este nombre.",
                                "emptyStates": "No hay Estados guardados",
                                "removeTitle": "Remover Estado",
                                "renameTitle": "Cambiar Nombre Estado"
                            }
                        },
                        "data": response,
                        //"order": [[0, "asc"], [1, "asc"], [4, "asc"], [7, "asc"]],
                        "columns": [
                        { "data": "urlAsignatura" ,
                          "visible": false,
                          "searchable": false, 
                        },
                        { "data": "nombre" },
                        { "data": "riesgo",
                                "visible": false,
                                "searchable": false,
                        },
                        { "data": "nota" },
                            {
                                "data": null,
                                sortable: false,
                                "createdCell": function (td) {
                                    $(td).css('display', 'contents');
                                },
                                "render": function (data, type, full, meta) {
                      
                                  var url = full.urlAsignatura;
                                  var nombre = full.nombre;
                                    return `
                                  <div style="display:block;">
                                                                                <button type='button' class='btn btn-default' aria-label='Left Align' title='Editar Asignatura'onclick='getDatos("UpdateButton","` + url + `$` + nombre + `");' >
                                               <span class=' 	glyphicon glyphicon-pencil' aria-hidden='true'></span>
                                            </button>
                                                                   <button type='button' class='btn btn-default' aria-label='Left Align' title='Borrar Asignatura' onclick='ShowPopup("DeleteButton","` + url +`");'>
                                               <span class='glyphicon glyphicon-trash' aria-hidden='true'></span>
                                           </button>
                                                      <button type='button' class='btn btn-default' aria-label='Left Align' title='Informacion de la Asignatura' onclick='getDatos("Info","` + url + `$`+nombre+`");' >
                                             <span class='glyphicon glyphicon-search' aria-hidden='true'></span>
                                        </button>                                
                                     </div>
                                  `;
                                },

                            },

                        ],                      
                        searchBuilder: {
                            columns: [1, 3],
                            filterChanged: function (count) {

                            }
                        },
                        "buttons": [
                            'searchBuilder'
                        ],
                        select: {
                            style: 'single'
                        },
                        dom: 'Qrtip',
                        //cambio de pagina
                        //drawCallback: function (settings) {
                        //    obtenerPage("dt_asignacion");
                        //},
                        rowCallback: function (row, data, index) {
                            //var dat = parsearJsonToArray(data);
                            //if (dat[9][1] == "Baja") {
                            //  // $(row).addClass('red');
                            //    $(row).children().css("background-color", "tomato");
                            //}

                        }


                    });
                    //document.getElementById("cargaTabla_tablaBoost").style.display = "none";
                    //document.getElementById("tablaBoost").style.display = "";
                    //table.page(parseInt(pagina)).draw(false);
                    //reestablecerFiltros("dt_asignacion");
                    //ordenarSelect("");
                
            
                }
            }
            function myFunction(tipo) {

                document.getElementById("myDropdown" + tipo).classList.toggle("show");

            }
            function cerrarMenu(tipo) {
                document.getElementById("myInput" + tipo).value = "";
                filterFunction(tipo);
                document.getElementById("hidenDrop" + tipo).value = "";
                //  document.getElementById("myDropdown" + tipo).classList.toggle("show");

            }
            function filterFunction(tipo) {

                input = document.getElementById("myInput" + tipo);
                div = document.getElementById("myDropdown" + tipo);

                var input, filter, ul, li, a, i;
                filter = input.value.toUpperCase();

                a = div.getElementsByTagName("a");
                for (i = 0; i < a.length; i++) {
                    txtValue = a[i].textContent || a[i].innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        a[i].style.display = "";
                    } else {
                        a[i].style.display = "none";
                    }
                }
            }
            function cambiarDrop(text, Value, tipo) {
                var boton = document.getElementById("btn_Drop" + tipo);
                boton.firstChild.data = text;
                document.getElementById("hidenDrop" + tipo).value = Value;

                document.getElementById("myDropdown" + tipo).classList.toggle("show");

         
            }

            function AddItem(Text, Value, tipo) {


                var contenedor = document.getElementById("topNav" + tipo);
                var item;
              
                if ((Text != "" && Value != "") && Text != "undefined") {
                    item = `  <a  onclick='cambiarDrop("` + Text + `","` + Value + `","` + tipo + `");'>` + Text;
                    contenedor.insertAdjacentHTML("beforeend", item);
                }
            }
        </script>
</body>



