
@{
    ViewData["Title"] = "Chaside";
}




<body id="page-top">


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Begin Page Content -->
            <div class="container-fluid" style="width: 80%;">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Formulario de Chaside</h1>
                <p class="mb-4">Este formulario evaluará las aptitudes e intereses del estudiante en función de una serie de preguntas de Si o No.
                    En caso de no contestar a una pregunta se tomará como la opción escogida el No
                </p>
            

                <br />
                <br />
                <br />
                <br />

                <div id="formulario"></div>
                <button class="btn btn-primary mt-3 mt-sm-0" onclick="buscarcheckbox();">Guardar</button>
     

                

            </div>
            <!-- /.container-fluid -->

        </div>
        </div>

</body>

    <script>


    $(document).ready(function () {
        getDatos("ListaPreguntasChaside","");
    });


    function getDatos(tipo,datos) {
        var typeMeth = "";
        var urlWs = "";   
        if (tipo == "ListaPreguntasChaside") {
            urlWs = `@Url.Action("GetDatosListaPreguntasChaside", "Home")`;
            typeMeth = "GET";
        } else if (tipo == "UpdateRespuestas") {
            urlWs = `@Url.Action("UpdateRespuestasChaside", "Home")`;
            typeMeth = "PUT";
        }

        $.ajax({
            type: typeMeth,
            url: urlWs,
            contentType: "application/x-www-form-urlencoded",
            data: { "datos": datos },
            dataType: "json",
            success: function (response) {
                OnSuccessGetDatos(response, tipo)
            },
            failure: function (response) {
                alert('falla');
            },
            error: function (response) {
                alert(`'No se pueden cargar datos'` + tipo);
            }
        });


    }
     function OnSuccessGetDatos(response,tipo) {
        if (tipo == "UpdateRespuestas") {
            if(response){
                alert("Los datos han sido guardados")
            }else{
                alert("Los datos no han sido guardados")
            }
         }else{
            $.each(response, function (index, value) {
                var formulario = document.getElementById("formulario")
                var separador = document.createElement('br');

                var pregunta = document.createElement('h5');
                pregunta.setAttribute("id", "pregunta_"+index);
                pregunta.innerText=value.contenido
                formulario.appendChild(pregunta);
                formulario.appendChild(separador);
                var divCheckNo = document.createElement('div');
                divCheckNo.setAttribute("id", "divCheckNo_" + index);
                divCheckNo.setAttribute("class", "form-check");
                formulario.appendChild(divCheckNo);
                var CheckNo = document.createElement('input');
                CheckNo.setAttribute("id", "flexRadioNo_" + index);
                CheckNo.setAttribute("class", "form-check-input");
                CheckNo.setAttribute("name", "flexRadio_" + index);
                CheckNo.setAttribute("checked","true")
                CheckNo.setAttribute("type", "radio");
                divCheckNo.appendChild(CheckNo);
                var labelNo = document.createElement('label');
                labelNo.innerText = "No";
                labelNo.setAttribute("class", "form-check-label");
                labelNo.setAttribute("for", "flexRadioNo_" + index);
                divCheckNo.appendChild(labelNo);
                divCheckNo.appendChild(separador);
                var divCheckSi = document.createElement('div');
                divCheckSi.setAttribute("id", "divCheckSi_" + index);
                divCheckSi.setAttribute("class", "form-check");
                formulario.appendChild(divCheckSi);
                var CheckSi = document.createElement('input');
                CheckSi.setAttribute("id", "flexRadioSi_" + index);
                CheckSi.setAttribute("class", "form-check-input");
                CheckSi.setAttribute("name", "flexRadio_" + index);
                CheckSi.setAttribute("type", "radio");
                divCheckSi.appendChild(CheckSi);
                var labelSi = document.createElement('label');
                labelSi.innerText = "Si";
                labelSi.setAttribute("class", "form-check-label");
                labelSi.setAttribute("for", "flexRadioSi_" + index);
                divCheckSi.appendChild(labelSi);
                divCheckSi.appendChild(separador);
                divCheckSi.appendChild(separador);
        });
        }
     }
    function buscarcheckbox() {
        let input = $("#formulario").find("input") //guarda el elemento
        var respuestas ="";
        $.each(input, function (index, value) {
         if(value.checked){
             if(value.id.includes("Si")){
                    respuestas = respuestas + "€" + "S";
             }else{
                respuestas = respuestas + "€" + "N";
         }
               
         }
         });
        getDatos("UpdateRespuestas",respuestas);
    }
    </script>



