
@{
    ViewData["Title"] = "Toulouse";
}




<body id="page-top">


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Begin Page Content -->
            <div class="container-fluid" style="width: 80%;">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Formulario de Toulouse</h1>
                <p class="mb-4">
                    Este formulario evaluará la concentracion, atencion/retencion e impulsividad del estudiante en función de el recuento de las figuras que aparecen al principio del conjunto de las imagenes.
                    Se cuentan por fila y de manera individual, no se busca una serie, para ello se separarán por ";".
                </p>
   

                <div id="imagenes"></div>
                
                <img src='https://i.postimg.cc/L4VSv4Kf/test.webp' border='0' alt='test' />
                <br />
                <br />
                <div id="respuestas"></div>
                <button class="btn btn-primary mt-3 mt-sm-0" onclick="guardarRespuestas()">Guardar</button>



             

            </div>
            <!-- /.container-fluid -->
          
        </div>
        </div>

</body>

   <script>


    $(document).ready(function () {
        getDatos("ListaPreguntasToulouse","");
    });


    function getDatos(tipo,datos) {
        var typeMeth = "";
        var urlWs = "";   
        if (tipo == "ListaPreguntasToulouse") {
            urlWs = `@Url.Action("GetDatosListaPreguntasToulouse", "Home")`;
            typeMeth = "GET";
        } else if (tipo == "UpdateRespuestas") {
            urlWs = `@Url.Action("UpdateRespuestasToulouse", "Home")`;
            typeMeth = "PUT";
        }

        $.ajax({
            type: typeMeth,
            url: urlWs,
            contentType: "application/x-www-form-urlencoded",
            data: { "datos": datos },
            dataType: "json",
            success: function (response) {
                OnSuccessGetDatos(response, tipo)
            },
            failure: function (response) {
                alert('falla');
            },
            error: function (response) {
                alert(`'No se pueden cargar datos'` + tipo);
            }
        });


    }
     function OnSuccessGetDatos(response,tipo) {
        if (tipo == "UpdateRespuestas") {
            if (response) {
                alert("Los datos han sido guardados")
            } else {
                alert("Los datos no han sido guardados")
            }
        }else{
            $.each(response, function (index, value) {
                var imagenes = document.getElementById("imagenes");
                var respuestas = document.getElementById("respuestas");
                var separador = document.createElement('br');
                var pregunta = document.createElement('img');           
                pregunta.setAttribute("alt", value.contenido);
                pregunta.setAttribute("src", value.imagen_url);
                imagenes.appendChild(pregunta);
                imagenes.appendChild(separador);
                imagenes.appendChild(separador);
                var divRespuestas = document.createElement('div');
                divRespuestas.setAttribute("class", "form-group");
                respuestas.appendChild(divRespuestas);
                pregunta.setAttribute("id", "pregunta_" + value.idPregunta);
                divRespuestas.appendChild(pregunta);
                var entradaRespuesta = document.createElement('input');
                entradaRespuesta.setAttribute("type", "text");
                entradaRespuesta.setAttribute("class", "form-control");
                entradaRespuesta.setAttribute("id", "respuesta_" + value.idPregunta);
                divRespuestas.appendChild(entradaRespuesta);
            });
        }
     }
    function guardarRespuestas() {
        let input = $("#respuestas").find("input"); 
        var respuestas ="";
        $.each(input, function (index, value) {
        respuestas = respuestas + "€" +value.value+"_"+value.id.split("_")[1];
     

        });
        getDatos("UpdateRespuestas", respuestas);
    }
    </script>



