<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - TFG</title>


    <!-- CSS -->
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.2/css/buttons.dataTables.min.css" />
    <link rel="stylesheet" href='https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css' />
    <link rel="stylesheet" href="https://cdn.datatables.net/searchbuilder/1.4.0/css/searchBuilder.dataTables.min.css" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->

    <link href="../css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="../vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    
    <!-- Custom fonts tables-->
    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

    <script type="text/javascript" src='https://code.jquery.com/jquery-3.5.1.js'></script>
    <script type="text/javascript" src='https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js'></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/datetime/1.2.0/js/dataTables.dateTime.min.js"></script>
 
    <script src="~/js/demo/datatables-demo.js"></script>
    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/js/demo/datatables-demo.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/searchbuilder/1.4.0/js/dataTables.searchBuilder.min.js"></script>
    <style>
        .collapse.in {
            display: block !important;
        }

        .dropdown-content.show {
            display: block !important;
        }
    </style>
    <script>
  
        function getInfo() {
            $.ajax({
                type: "GET",
                url: `@Url.Action("GetUsuarioInfo", "Home")`,
                contentType: "application/x-www-form-urlencoded",
                dataType: "json",
                success: function (response) {
                    OnSuccessGetInfo(response)
                },
                failure: function (response) {
                    alert('falla');
                },
                error: function (response) {
                    alert(`'No se pueden cargar datos'`);
                }
            });
        }
        function OnSuccessGetInfo(response) {
            document.getElementById("AdministrativasContablesInt_lb").innerText = response.administrativas_Contables_Int;
            document.getElementById("HumanisticasSocialesInt_lb").innerText = response.humanisticas_Sociales_Int;
            document.getElementById("ArtisticasInt_lbl").innerText = response.artisticas_Int;
            document.getElementById("MedicinaCsSaludInt_lb").innerText = response.medicina_CsSalud_Int;
            document.getElementById("IngenieriaComputacionInt_lb").innerText = response.ingenieria_Computacion_Apt;
            document.getElementById("DefensaSeguridadApt_lbl").innerText = response.defensaSeguridad_Int;
            document.getElementById("CienciasExactasAgrariasInt_lb").innerText = response.cienciasExactas_Agrarias_Int;
            document.getElementById("AdministrativasContablesApt_lb").innerText = response.administrativas_Contables_Apt;
            document.getElementById("HumanisticasSocialesApt_lb").innerText = response.humanisticas_Sociales_Apt;
            document.getElementById("IngenieriaComputacionApt_lb").innerText = response.ingenieria_Computacion_Apt;
            document.getElementById("ArtisticasApt_lbl").innerText = response.artisticas_Apt;
            document.getElementById("MedicinaCsSaludApt_lb").innerText = response.medicina_CsSalud_Apt;
            document.getElementById("DefensaSeguridadApt_lbl").innerText = response.defensaSeguridad_Apt;
            document.getElementById("CienciasExactasAgrariasApt_lb").innerText = response.cienciasExactas_Agrarias_Apt;
        }
    </script>
</head>
<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">CEU</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="index.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Panel de Control</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">



            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                   aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Ayuda</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Herramientas de Ayuda:</h6>
                        <a class="collapse-item" href="utilities-color.html">Manual</a>
                    </div>
                </div>
            </li>

          

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                   aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Páginas</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Principales:</h6>
                        <a class="collapse-item" href="Asignaturas">Asignaturas</a>
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Formularios:</h6>
                        <a class="collapse-item" href="Chaside">Chaside</a>
                        <a class="collapse-item" href="Toulouse">Toulouse</a>
                    </div>
                </div>
            </li>


            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                       <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

            </div>

        </ul>
        <!-- End of Sidebar -->

        <div id="content" style="width:100%;">
            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <form class="form-inline">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                </form>

           
                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                   
            
                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small" id="Name">Nombre</span>
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#perfilModal" onclick="getInfo();">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Perfil
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Cerrar Sesión
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- Logout Modal-->
            <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">¿Seguro que quieres desconectarte?</h5>                 
                        </div>
                        <div class="modal-body">Al cerrar sesión tendras que volver a pasar por el login</div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">No</button>
                            <a class="btn btn-primary" href="~/Account/Login">Si</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Perfil Modal-->
            <div class="modal fade" id="perfilModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h7 class="modal-title" id="exampleModalLabel">Información del usuario</h7>
                         </div>

                
                        <div class="modal-body">
                            <h5>Intereses</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <label>
                                        Administrativas y Contables:
                                    </label>
                                    <label id="AdministrativasContablesInt_lb">
                                        2
                                    </label>
                                </li>
                                 <li class="list-group-item">
                                    <label>
                                        Humanisticas y Sociales:
                                    </label>
                                    <label id="HumanisticasSocialesInt_lb">
                                        2
                                    </label>
                                </li>
                                 <li class="list-group-item">
                                    <label>
                                        Artísticas:
                                    </label>
                                    <label id="ArtisticasInt_lbl">
                                        2
                                    </label>
                                </li>
                                 <li class="list-group-item">
                                    <label>
                                        Medicina y Cs.Salud:
                                    </label>
                                    <label id="MedicinaCsSaludInt_lb">
                                        2
                                    </label>
                                </li>
                                 <li class="list-group-item">
                                    <label>
                                        Ingenieria de Sistemas:
                                    </label>
                                    <label id="IngenieriaComputacionInt_lb">
                                        2
                                    </label>
                                </li>
                                <li class="list-group-item">
                                    <label>
                                        Defensa y Seguridad:
                                    </label>
                                    <label id="DefensaSeguridadInt_lbl">
                                        2
                                    </label>
                                </li>
                                <li class="list-group-item">
                                    <label>
                                        Ciencias Exactas y Agrarias:
                                    </label>
                                    <label id="CienciasExactasAgrariasInt_lb">
                                        2
                                    </label>
                                </li>
                            </ul>
                            <h7>Aptitudes</h7>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <label>
                                        Administrativas y Contables:
                                    </label>
                                    <label id="AdministrativasContablesApt_lb">
                                        2
                                    </label>
                                </li>
                                <li class="list-group-item">
                                    <label>
                                        Humanisticas y Sociales:
                                    </label>
                                    <label id="HumanisticasSocialesApt_lb">
                                        2
                                    </label>
                                </li>
                                <li class="list-group-item">
                                    <label>
                                        Artísticas:
                                    </label>
                                    <label id="ArtisticasApt_lbl">
                                        2
                                    </label>
                                </li>
                                <li class="list-group-item">
                                    <label>
                                        Medicina y Cs.Salud:
                                    </label>
                                    <label id="MedicinaCsSaludApt_lb">
                                        2
                                    </label>
                                </li>
                                <li class="list-group-item">
                                    <label>
                                        Ingenieria de Sistemas:
                                    </label>
                                    <label id="IngenieriaComputacionApt_lb">
                                        2
                                    </label>
                                </li>
                                <li class="list-group-item">
                                    <label>
                                        Defensa y Seguridad:
                                    </label>
                                    <label id="DefensaSeguridadApt_lbl">
                                        2
                                    </label>
                                </li>
                                <li class="list-group-item">
                                    <label>
                                        Ciencias Exactas y Agrarias:
                                    </label>
                                    <label id="CienciasExactasAgrariasApt_lb">
                                        2
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Volver</button>                     
                        </div>
                    </div>
                </div>
            </div>

            <!-- End of Topbar -->
            <div class="container-fluid">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
            <script src="~/js/site.js" asp-append-version="true"></script>
            @await RenderSectionAsync("Scripts", required: false)
        </div>
    </div>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
   
</body>
</html>

